.Header{
    width: 100%;
    background-color: white;
    padding: 4px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.06);
    padding-left: 20px;
    padding-right: 20px;
}

