
.productGrid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); 
    gap: 30px;
}

.filterContainer{
    margin: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #e6e5e5;
    align-items: center;
    padding: 25px;
}

.filterContainer__Inner{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
}

.filterContainer__FilterChip{
    background-color: #EDEDED;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: -0.15px;
    color: #A3A3A3;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 250ms ease-in-out;
    cursor: pointer;
    min-width: 163px;
    width: 163px;
    height: 48px;
}

.v-border{
    width: 2px;
    border-right: solid 1px #e6e5e5;
}

.filterContainer__FilterChip:hover{
    background: #0AD4FA;
    color: white;
}

.filterContainer__paging{
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.15px;
    color: #616161;
}

@media (max-width: 545px) {
    .filterContainer__FilterChip{
        font-size: 14px;
        margin-left: 8px;
        font-weight: 600;
    }
    
    .filterContainer__paging{
        font-size: 14px;
        line-height: 48px;
        color: #616161;
        width: 120px;
        font-weight: 600;
    }

    .filterContainer__Inner{
        width: 650px;
    }

    .filterContainer{
        overflow: auto;
        margin: 0;
    }
  }